.container {
  max-width: 114rem;
  margin: 0 auto;
}

form {
  width: 50vw;
  margin: 0 auto;
}

h2 {
  margin: 2rem 0;
}

.formgroup {
  width: 100%;
  margin: 1.5rem 0;
}

label {
  font-size: 1.4rem;
}

input#name {
  width: 25rem;
  padding: 1rem;
  font-size: 1.4rem;
}

select {
  width: 100%;
  padding: 2rem;
}

option.tab-1 {
  margin-left: 2rem;
}
option.tab-2 {
  margin-left: 4rem;
}
option.tab-3 {
  margin-left: 6rem;
}
.check {
  margin: 2rem 0;
}
.check label {
  margin-left: 1rem;
}
button {
  padding: 1rem 2rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.user-btn-div {
  margin: 2rem 0;
  text-align: center;
}

.userbox {
  background-color: green;
  width: 25rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.userbox h3 {
  font-size: 2rem;
  color: white;
}
.userbox h4 {
  font-size: 1.5rem;
  color: white;
}
.userbox a {
  background-color: rgb(138, 50, 50);
  color: white;
  font-size: 1.2rem;
  padding: 1rem;
  display: inline-block;
  margin-top: 1rem;
}
.delete-btn {
  background-color: rgb(138, 50, 50);
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  margin-left: 1rem;
}
